.toolbar-menu {
    --background: #ecb9d0;
    --color: white;
}

.title-menu {
    font-size: 14px;
}

.menu-home {
    margin-left: 20px;
}

.menu-agendamento {
    margin-left: 20px;
}

.menu-agendamento-list {
    margin-left: 20px;
}


.label-apresentacao {
    text-align: center;
}